.CLayout {
  .ant-breadcrumb a:hover {
    color: #56317a;
  }

  .ant-input.ant-input-login:focus {
    border-color: #56317a;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
    box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
  }

  .ant-btn-dashed.ant-btn-login {
    color: #fff;
    background: #56317a;
    border-color: #56317a;
    border-style: dashed;
  }

  .ant-btn.ant-btn-login:hover,
  .ant-btn.ant-btn-login:focus {
    color: #56317a;
    border-color: #56317a;
  }

  .ant-layout-sider,
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #56317a;
  }

  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active {
    color: #ffffff;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background-color: #8a68ab !important;
  }

  .ant-layout-sider-trigger {
    background: #3a165c;
  }

  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
  .ant-menu-dark .ant-menu-item-selected .anticon + span {
    font-weight: 600;
  }

  .ant-layout-footer,
  .ant-layout-header {
    background: #ffffff;
  }

  .ant-layout-header {
    height: 74px;
    line-height: 74px;
    padding: 0 16px;
  }

  .ant-layout-footer {
    padding: 13.2px 50px;
  }

  .scroll {
    height: 300vw;
  }

  @media (min-width: 992px) {
    .menu {
      display: none;
    }
    .navbar {
      display: none;
    }
  }

  .logo {
    text-align: center;
    color: #56317a;
    font-weight: 700;
    padding: 1rem;
    background: #fff;
    border: 2px solid #56317a;
  }
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #8a68ab !important;
}

.ant-drawer-body {
  padding: 0;
}
.ant-drawer-content {
  background-color: #00152a;
}

@media (max-width: 992px) {
  .ant-layout-sider,
  .toggle {
    display: none;
  }
}

.ant-transfer-list {
  flex: none;
  width: 48%;
  min-height: 400px;
  max-height: 500px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(86, 49, 122, 0.2) !important;
}

.ant-menu-item-selected {
  color: #3a155c;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover,
.ant-menu-item-active a,
.ant-menu-item-active a:hover {
  color: #3a155c;
}

.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected {
  color: #3a155c;
  background-color: rgba(86, 49, 122, 0.2);
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: rgba(86, 49, 122, 0.2) !important;
}

.mb-0 {
  margin-bottom: 0;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-table-filter-trigger {
  padding: 0 8px;
}

.ant-drawer-title {
  text-align: center;
}

.ant-btn-primary {
  border-color: #56317a;
  background: #56317a;
}

.ant-btn-link,
.ant-btn:hover,
.ant-btn:focus {
  color: #56317aba;
  border-color: #56317aba;
}

.ant-btn-link:hover,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: #56317aba;
  background: #56317aba;
  color: #ffffff;
}

.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: #56317a;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #56317a;
  border-color: #56317a;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #56317a;
  border-right-width: 1px !important;
}

.ant-pagination-item:focus-visible a,
.ant-pagination-item:hover a {
  color: #56317a;
}

.ant-pagination-item-active {
  border-color: #56317a;
  background: #56317a;
}

.ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination-item-active:focus-visible,
.ant-pagination-item-active:hover {
  border-color: #56317a;
}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
  color: #ffffff;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #56317a;
  box-shadow: 0 0 0 2px rgba(86, 49, 122, 0.2);
}

.ant-input:hover {
  border-color: #56317a;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #56317a;
  border-color: #56317a;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #56317a;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #56317a;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-radio-wrapper:hover .ant-radio-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-radio:hover .ant-radio-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-radio-input:focus + .ant-radio-inner,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #56317a;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #56317a;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #56317a;
  box-shadow: 0 0 0 2px rgba(86, 49, 122, 0.2);
}

.ant-checkbox-checked::after,
.ant-radio-checked::after {
  border: 1px solid #56317a;
}

.ant-radio-inner::after {
  background-color: #56317a;
}
.ant-transfer-list-content-item-checked {
  background-color: rgba(86, 49, 122, 0.15);
}

.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled).ant-transfer-list-content-item-checked:hover {
  background-color: rgba(86, 49, 122, 0.2);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(86, 49, 122, 0.2);
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active,
.ant-table-filter-trigger.active {
  color: #56317a;
}

.ant-table-actions {
  display: flex;
  justify-content: space-evenly;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0;
}

.custom-dropdown-btns {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #f0f0f0;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  text-overflow: initial;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #56317a;
  box-shadow: none;
}

.ant-menu-title-content {
  a {
    color: inherit !important;
  }
}

.ant-switch-checked {
  background-color: #56317a;
}
